.env
_krishi
farmer_response.mp3
Farmer_question1.mp3
response.mp3
response231311.mp3
__pycache__
models\__pycache__
utils\__pycache__
market_prices.db
test
response231311rsdgfhjk.mp3
.zip
aphid_33.png
check.py